################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ui512v1.6
/.vs/ui512.slnx/v18
/ui512v1.6/x64/Debug/ui512v1.6.tlog
/ui512v1.6/x64/Debug/ui512v1.6.log
/x64/Debug
/ui512_unit_tests/x64/Debug/pch.obj
/ui512_unit_tests/x64/Debug/ui512_unit_tests.dll.recipe
/ui512_unit_tests/x64/Debug/ui512_unit_tests.ilk
/ui512_unit_tests/x64/Debug/ui512_unit_tests.log
/ui512_unit_tests/x64/Debug/ui512_unit_tests.obj
/ui512_unit_tests/x64/Debug/ui512_unit_tests.pch
/ui512_unit_tests/x64/Debug/vc145.pdb
/ui512_unit_tests/x64/Debug/vc145.idb
/ui512_unit_tests/x64/Debug/ui512_unit_tests_subtraction.obj
/ui512_unit_tests/x64/Debug/ui512_unit_tests.tlog/CL.command.1.tlog
/ui512_unit_tests/x64/Debug/ui512_unit_tests.tlog/Cl.items.tlog
/ui512_unit_tests/x64/Debug/ui512_unit_tests.tlog/CL.read.1.tlog
/ui512_unit_tests/x64/Debug/ui512_unit_tests.tlog/CL.write.1.tlog
/ui512_unit_tests/x64/Debug/ui512_unit_tests.tlog/link.command.1.tlog
/ui512_unit_tests/x64/Debug/ui512_unit_tests.tlog/link.write.1.tlog
/ui512_unit_tests/x64/Debug/ui512_unit_tests.tlog/ui512_unit_tests.lastbuildstate
/ui512_compare.obj
/ui512_division.obj
/ui512_global_data.obj
/ui512_multiply.obj
/ui512_shift.obj
/ui512_significance.obj
/ui512_addition.obj
/ui512_bitops.obj
/ui512_clear_copy_set.obj
/ui512_subtraction.obj
